
<div class='container has-text-centered'>
  <div class='columns is-mobile is-centered'>
    <div class='column is-8'>
      <div>
        <h1 class="title">{{manga}}</h1>
      </div>
      <section>
        <div class="table-container">
          <table class="table is-bordered is-striped is-hoverable">
            <thead>
              <tr>
                <th>
                  ChapterName
                </th>
                <th>
                  LastUpdated
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let chapter of allChapters">
                <td>
                  <a [routerLink]="['/Manga/',manga, chapter.mangaChapters.mangaChapter]">{{chapter.mangaChapters.mangaChapter}} </a>
                </td>
                <td width="30%">
                  {{chapter.dateTime}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
      </div>
    </div>
  </div>
