<div class='container has-text-centered'>
  <div class='columns is-vcentered'>
    <div class='column'>
      <div>
        <h1 class="title">Manga List</h1>
      </div>
      <section>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Manga Name</th>
                <th>Last Read</th>
                <th>Latest</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let manga of allManga">
                <td>
                  <a [routerLink]="['/Manga/',manga.mangaName]" [queryParams]="{sort: 'desc'}">{{manga.mangaName}} </a>
                </td>
                <td>
                  <a [routerLink]="['/Manga/',manga.mangaName, manga.lastChapterRead]">{{manga.lastChapterRead}} </a>
                </td>
                <td>
                  <a [routerLink]="['/Manga/',manga.mangaName, manga.chaptersAdded[0]]">{{manga.chaptersAdded[0]}} </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>
</div>
