
html,
body,
#background {
  width: 100vw;
  min-height: 100vh;
  background-color: #212529;
}

.border-top {
  border-top: 2px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 2px solid #e5e5e5;
}

h2, h3 {
  color: white !important;
  margin-bottom: 20px;
}

@media screen and (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  line-height: 0px;
  padding: 20px;
}

a{
    color: white
}
